{% include theme_path_no_base ~ "/tpl/header.html.twig" %}
{% set bg_url = file_url(node.field_background_image.entity.uri.value) %}
<div class="layout">
    
    <!-- Home -->
    
    <!--<main class="main-inner">
      <div class="container">
        <header class="main-header">
          <h1>{{ title }}</h1>
        </header>
      </div>
    </main>-->
    {{ page.content_full_bar }}
    <div class="content">
    <script type="text/javascript">
		var megazoom;
		
		FWDMUtils.onReady(function(){
			megazoom =  new FWDM({
				// Main settings
				parentId:"sembrado",
				markersAndInfoWindowId:"markersAndPlaylist",
				displayType:"fullscreen",
				skinPath:"/libraries/megazoom/skins/skin1",
				useVectorIcons:"no",
				initializeOnlyWhenVisible:"no",
				imagePath:"{{ bg_url }}",
				useEntireScreen:"yes",
				addKeyboardSupport:"yes",
				addDoubleClickSupport:"yes",
				disableMouseWheel:"yes",
				disableZoom:"no",
				disablePan:"no",
				autoScale:"yes",
				zoomerWidth:1250,
            	zoomerHeight:790,
				imageWidth:2500,
				imageHeight:2867,
				imageOffsetX:0,
				imageOffsetY:0,
				zoomFactor:1.0,
				doubleClickZoomFactor:1,
				startZoomFactor:"default",
				panSpeed:8,
				zoomSpeed:.1,
				backgroundColor:"#FFFFFF",
				backgroundColorOnZoom:"transparent",
				fullscreenBackgroundColor:"#FFFFFF",
				// Preloader
				preloaderText:"Loading image: ",
				preloaderPosition:"center",
				preloaderOffsetX:40,
				preloaderOffsetY:40,
				showPreloaderProgressBar:"yes",
				preloaderWidth:"70%",
				preloaderProgressBarBackgroundColor:"#8b859b",
				preloaderProgressBarFillColor:"#7EC1AB",
				preloaderWindowBackgroundOpacity:.7,
				preloaderFontColor:"#000000",
				preloaderBackgroundSize:"large",
				preloaderBackgroundColor:"#FFFFFF",
				// lightbox-
				lightBoxWidth:1000,
				lightBoxHeight:658,
				lightBoxBackgroundOpacity:.8,
				lightBoxBackgroundColor:"#000000",
				// Controller
				buttons:"moveLeft, moveRight, moveDown, moveUp, scrollbar, hideOrShowMarkers, hideOrShowController, info, fullscreen",
				buttonsToolTips:"Move left, Move right, Move down, Move up, Zoom level: , Hide markers/Show markers, Hide controller/Show controller, Info, Full screen/Normal screen",
				showControllerBackground:'yes',
				controllerHorizontalPosition:"center",
				controllerVerticalPosition:"bottom",
				inversePanDirection:"yes",
				controllerMaxWidth:815,
				hideControllerDelay:300,
				startSpaceBetweenButtons:28,
				spaceBetweenButtons:20,
				startSpaceForScrollBarButtons:20,
				startSpaceForScrollBar:20,
				controllerOffsetWidth:20,
				controllerOffsetY:20,
				scrollBarOffsetX:0,
				scrollBarHandlerOffsetX:4,
				scrollBarHandlerToolTipOffsetY:4,
				zoomInAndOutToolTipOffsetY:-10,
				buttonsToolTipOffsetY:-10,
				controllerBackgroundOpacity:1,
				buttonToolTipBackgroundColor:"#FFFFFF",
				buttonToolTipFontColor:"#3A334B",
				// Navigator
				showNavigator:"yes",
				showNavigatorOnMobile:"yes",
				navigatorPosition:"topright",
				navigatorWidth:120,
				navigatorOffsetX:10,
				navigatorOffsetY:10,
				navigatorBackgroundColor:"#FFFFFF",
				navigatorHandlerColor:"#7EC1AB",
				navigatorBorderColor:"#E5E4E8",
				// Info window
				infoWindowWidth:920,
				infoWindowBackgroundOpacity:.6,
				infoWindowBackgroundColor:"#FFFFFF",
				infoWindowScrollBarColor:"#585858",
				// Markers
				showMarkersInfo:"no",
				markerToolTipOffsetY:6,
				// Context menu
				showScriptDeveloper:"no",
				contextMenuLabels:"Move left, Move right, Move down, Move up, Zoom in/Zoom out, Hide markers/Show markers, Hide controller/Show controller, Info, Full screen/Normal screen",
				contextMenuBorderColor:"rgba(0,0,0,0)",
				contextMenuSpacerColor:"#E5E4E8",
				contextMenuItemTextNormalColor:"#3a334b",
				contextMenuItemTextSelectedColor:"#FFFFFF",
				contextMenuItemBackgroundNormalColor:"#FFFFFF",
				contextMenuItemBackgroundSelectedColor:"#7EC1AB",
				contextMenuItemDisabledColor:"#cccccc"
			});
		})
	</script>
    <div id="sembrado"></div>
    <div id="markersAndPlaylist" style="display:none">

		<!-- info window-->
		<!--<ul data-info="">
			<div class="first">
				<img src="assets/2.jpg">
				<h1>Image On The Left Side</h1>
				<p><strong>This type of window support unlimited text</strong>, if the HTML content is too large on a mouse enabled device a scrollbar will appear and if the device has touch support the HTML content can be scrolled with the finger just like an native app. This window has a responsive layout, this means that it will adapt based on the available space (resize the browser window to see this feature in action).</p>
				<p>Sed luctus lorem dui, ut lobortis diam. Curabitur est sapien, <a href="https://webdesign-flash.ro" target="_blank">viverra et aliquet</a> ut, semper nec magna. In molestie, leo a ornare mollis, orci lacus fermentum felis, a scelerisque ante urna tincidunt diam. Ut pharetra est eu neque feugiat molestie.</p>
			</div>
			<div class="spacer"></div>
			<div class="second">
				<img src="assets/3.jpg">
				<h1>Image On The Right Side</h1>
				<p><strong>This type of window support unlimited text</strong>, if the HTML content is too large on a mouse enabled device a scrollbar will appear and if the device has touch support the HTML content can be scrolled with the finger just like an native app. This window has a responsive layout, this means that it will adapt based on the available space (resize the browser window to see this feature in action).</p>
				<p>Sed luctus lorem dui, ut lobortis diam. Curabitur est sapien, viverra et aliquet ut, semper nec magna. In molestie, leo a ornare mollis, orci lacus fermentum felis, a scelerisque ante urna tincidunt diam. Ut pharetra est eu neque feugiat molestie.</p>
			</div>
			<div class="spacer"></div>
			<div class="third">
				<h1>Video & Youtube Ready</h1>
				<div class="youtube">
					<iframe src="https://www.youtube.com/embed/oGFS1RGIMsc" frameborder="0" width="100%" allowfullscreen></iframe>
				</div>
				<p><strong>This type of window support unlimited text</strong>, if the HTML content is too large on a mouse enabled device a scrollbar will appear and if the device has touch support the HTML content can be scrolled with the finger just like an native app. This window has a responsive layout, this means that it will adapt based on the available space (resize the browser window to see this feature in action).</p>
				<p>Sed luctus lorem dui, ut lobortis diam. Curabitur est sapien, <a href="https://webdesign-flash.ro" target="_blank">viverra et aliquet</a> ut, semper nec magna. In molestie, leo a ornare mollis, orci lacus fermentum felis, a scelerisque ante urna tincidunt diam. Ut pharetra est eu neque feugiat molestie.</p>
			</div>
		</ul>-->

		<!-- markers -->
		<ul data-markers="">

			<li data-marker-type="link" data-reg-point="centerbottom" data-marker-normal-state-path="skins/skin1/marker3.png" data-marker-selected-state-path="skins/skin1/marker3-rollover.png" data-marker-left="1225" data-marker-top="434" data-marker-width="24" data-marker-height="33" data-show-after-zoom-factor="0" data-tool-tip-label="External link (url and target can be specified)" data-marker-url="http://webdesign-flash.ro" data-marker-target="_blank" data-tooltip-offset-x="0"></li>

			<li data-marker-type="link" data-reg-point="centerbottom" data-marker-normal-state-path="skins/skin1/marker3.png" data-marker-selected-state-path="skins/skin1/marker3-rollover.png" data-marker-left="1940" data-marker-top="350" data-marker-width="24" data-marker-height="33" data-show-after-zoom-factor=".5" data-tool-tip-label="External link (url and target can be specified)" data-marker-url="http://webdesign-flash.ro" data-marker-target="_blank" data-tooltip-offset-x="0"></li>
		
			<li data-marker-type="tooltip-plus" data-show-content="yes" data-reg-point="centerbottom" data-marker-normal-state-path="skins/skin1/marker1.png" data-marker-selected-state-path="skins/skin1/marker1-rollover.png" data-marker-left="486" data-marker-top="1848" data-marker-width="24" data-marker-height="33" data-show-after-zoom-factor="0" data-tooltip-offset-x="0" data-marker-window-width="280">
				<img src="assets/1.jpg" width="250"  height="150"/>
				<p>This type of tooltip responsive windows can be added with ease, the width and height can be set to any value and it supports any HTML content. The hotspots or markers can have any size or shape and a custom icon can be used.</p>
			</li>

			<li data-marker-type="tooltip-play" data-show-content="yes" data-reg-point="centerbottom" data-marker-normal-state-path="skins/skin1/marker4.png" data-marker-selected-state-path="skins/skin1/marker4-rollover.png" data-marker-left="1704" data-marker-top="2114" data-marker-width="24" data-marker-height="33" data-show-after-zoom-factor="0" data-tooltip-offset-x="0" data-marker-window-width="280">
				<iframe src="https://www.youtube.com/embed/oGFS1RGIMsc?fs=0" frameborder="0" width="100%" height="142px"></iframe>
						<p>This type of tooltip responsive windows can be added with ease, the width and height can be set to any value and it supports any HTML content.</p>
						<a href="https://webdesign-flash.ro/" target="_blank">Read more</a>
			</li>

			<li data-marker-type="infowindow" data-reg-point="centerbottom" data-marker-normal-state-path="skins/skin1/marker2.png" data-marker-selected-state-path="skins/skin1/marker2-rollover.png" data-marker-left="1793" data-marker-top="1348" data-marker-width="24" data-marker-height="33" data-show-after-zoom-factor="0" data-tooltip-offset-x="0" data-tool-tip-label="Large content window (support for unlimited text)">
				<div class="first no-padding-bottom">
					<img src="assets/2.jpg">
					<h1>Image On The Left Side</h1>
					<p><strong>This type of window support unlimited text</strong>, if the HTML content is too large on a mouse enabled device a scrollbar will appear and if the device has touch support the HTML content can be scrolled with the finger just like an native app. This window has a responsive layout, this means that it will adapt based on the available space (resize the browser window to see this feature in action).</p>
					<p>Sed luctus lorem dui, ut lobortis diam. Curabitur est sapien, <a href="https://webdesign-flash.ro" target="_blank">viverra et aliquet</a> ut, semper nec magna. In molestie, leo a ornare mollis, orci lacus fermentum felis, a scelerisque ante urna tincidunt diam. Ut pharetra est eu neque feugiat molestie.</p>
				</div>
			</li>

			<li data-marker-type="infowindow" data-reg-point="centerbottom" data-marker-normal-state-path="skins/skin1/marker2.png" data-marker-selected-state-path="skins/skin1/marker2-rollover.png" data-marker-left="1250" data-marker-top="1532" data-marker-width="24" data-marker-height="33" data-show-after-zoom-factor=".45" data-tooltip-offset-x="0" data-tool-tip-label="Large content window (support for unlimited text)">
				<div class="third">
					<h1>Video & Youtube Ready</h1>
					<div class="youtube">
						<iframe src="https://www.youtube.com/embed/oGFS1RGIMsc" frameborder="0" width="100%" allowfullscreen></iframe>
					</div>
					<p><strong>This type of window support unlimited text</strong>, if the HTML content is too large on a mouse enabled device a scrollbar will appear and if the device has touch support the HTML content can be scrolled with the finger just like an native app. This window has a responsive layout, this means that it will adapt based on the available space (resize the browser window to see this feature in action).</p>
					<p>Sed luctus lorem dui, ut lobortis diam. Curabitur est sapien, <a href="https://webdesign-flash.ro" target="_blank">viverra et aliquet</a> ut, semper nec magna. In molestie, leo a ornare mollis, orci lacus fermentum felis, a scelerisque ante urna tincidunt diam. Ut pharetra est eu neque feugiat molestie.</p>
				</div>
			</li>

			<li data-marker-type="tooltip-plus" data-show-content="yes" data-reg-point="centerbottom" data-marker-normal-state-path="skins/skin1/marker1.png" data-marker-selected-state-path="skins/skin1/marker1-rollover.png" data-marker-left="985" data-marker-top="1135" data-marker-width="24" data-marker-height="33" data-show-after-zoom-factor=".45" data-tooltip-offset-x="0" data-marker-window-width="360">
				<p class="single-p">This type of tooltip responsive windows can be added with ease, the width and height can be set to any value and it supports any HTML content. The hotspots or markers can have any size or shape and a custom icon can be used.</p>
			</li>
		
		</ul>
	</div>
      
      
      
      {{ page.section_content }}
      {{ page.section_bottom }}
      {% include theme_path_no_base ~ "/tpl/footer.html.twig" %}
    </div>
</div>