{% include theme_path_no_base ~ "/tpl/header.html.twig" %}
{% set bg_url = file_url(node.field_background_image.entity.uri.value) %}
<div class="layout">
    
    <!-- Home -->
    
    <!--<main class="main-inner">
      <div class="container">
        <header class="main-header">
          <h1>{{ title }}</h1>
        </header>
      </div>
    </main>-->
    {{ page.content_full_bar }}
    <div class="content">
    <script type="text/javascript">
		var megazoom;
		
		FWDMUtils.onReady(function(){
			megazoom =  new FWDM({
				// Main settings
				parentId:"sembrado",
				markersAndInfoWindowId:"markersAndPlaylist",
				displayType:"responsive",
				skinPath:"/libraries/megazoom/skins/skin2",
				useVectorIcons:"no",
				initializeOnlyWhenVisible:"no",
				imagePath:"{{ bg_url }}",
				useEntireScreen:"yes",
				addKeyboardSupport:"yes",
				addDoubleClickSupport:"yes",
				disableMouseWheel:"yes",
				disableZoom:"no",
				disablePan:"no",
				autoScale:"yes",
				zoomerWidth:1920,
            	zoomerHeight:890,
				imageWidth:1920,
				imageHeight:1200,
				imageOffsetX:0,
				imageOffsetY:0,
				zoomFactor:1.0,
				doubleClickZoomFactor:1,
				startZoomFactor:0.70,
				panSpeed:8,
				zoomSpeed:.1,
				backgroundColor:"#1e2924",
				backgroundColorOnZoom:"transparent",
				fullscreenBackgroundColor:"#FFFFFF",
				// Preloader
				preloaderText:"Loading image: ",
				preloaderPosition:"center",
				preloaderOffsetX:40,
				preloaderOffsetY:40,
				showPreloaderProgressBar:"yes",
				preloaderWidth:"70%",
				preloaderProgressBarBackgroundColor:"#8b859b",
				preloaderProgressBarFillColor:"#7EC1AB",
				preloaderWindowBackgroundOpacity:.7,
				preloaderFontColor:"#000000",
				preloaderBackgroundSize:"large",
				preloaderBackgroundColor:"#FFFFFF",
				// lightbox-
				lightBoxWidth:1000,
				lightBoxHeight:658,
				lightBoxBackgroundOpacity:.8,
				lightBoxBackgroundColor:"#000000",
				// Controller
				buttons:"moveLeft, moveRight, moveDown, moveUp, scrollbar, hideOrShowMarkers, hideOrShowController, fullscreen",
				buttonsToolTips:"Move left, Move right, Move down, Move up, Zoom level: , Hide markers/Show markers, Hide controller/Show controller, Info, Full screen/Normal screen",
				showControllerBackground:'no',
				controllerHorizontalPosition:"center",
				controllerVerticalPosition:"bottom",
				inversePanDirection:"yes",
				controllerMaxWidth:815,
				hideControllerDelay:300,
				startSpaceBetweenButtons:28,
				spaceBetweenButtons:20,
				startSpaceForScrollBarButtons:20,
				startSpaceForScrollBar:20,
				controllerOffsetWidth:20,
				controllerOffsetY:20,
				scrollBarOffsetX:0,
				scrollBarHandlerOffsetX:4,
				scrollBarHandlerToolTipOffsetY:4,
				zoomInAndOutToolTipOffsetY:-10,
				buttonsToolTipOffsetY:-10,
				controllerBackgroundOpacity:1,
				buttonToolTipBackgroundColor:"#FFFFFF",
				buttonToolTipFontColor:"#3A334B",
				// Navigator
				showNavigator:"no",
				showNavigatorOnMobile:"yes",
				navigatorPosition:"topright",
				navigatorWidth:120,
				navigatorOffsetX:10,
				navigatorOffsetY:10,
				navigatorBackgroundColor:"#FFFFFF",
				navigatorHandlerColor:"#7EC1AB",
				navigatorBorderColor:"#E5E4E8",
				// Info window
				infoWindowWidth:920,
				infoWindowBackgroundOpacity:.6,
				infoWindowBackgroundColor:"#FFFFFF",
				infoWindowScrollBarColor:"#585858",
				// Markers
				showMarkersInfo:"no",
				markerToolTipOffsetY:6,
				// Context menu
				showScriptDeveloper:"no",
				contextMenuLabels:"Move left, Move right, Move down, Move up, Zoom in/Zoom out, Hide markers/Show markers, Hide controller/Show controller, Info, Full screen/Normal screen",
				contextMenuBorderColor:"rgba(0,0,0,0)",
				contextMenuSpacerColor:"#E5E4E8",
				contextMenuItemTextNormalColor:"#3a334b",
				contextMenuItemTextSelectedColor:"#FFFFFF",
				contextMenuItemBackgroundNormalColor:"#FFFFFF",
				contextMenuItemBackgroundSelectedColor:"#7EC1AB",
				contextMenuItemDisabledColor:"#cccccc"
			});
		})
	</script>
    <!--<h1>Sembrado</h1>-->
   
    <div id="sembrado"></div>
    </hr>
    <div id="markersAndPlaylist" style="display:none">

		<!-- info window-->
		<ul data-info="">

		</ul>


		{{ drupal_view('sembrado_interactivo', 'block_1') }}

	</div>
      
      {{ page.section_content }}
      {{ page.section_bottom }}
      {% include theme_path_no_base ~ "/tpl/footer.html.twig" %}
    </div>
</div>