{% include theme_path_no_base ~ "/tpl/header.html.twig" %}
{% set bg_url = file_url(node.field_background_image.entity.uri.value) %}
<div class="layout">
  
  <main class="main main-inner main-project" style="background-image:url({{ bg_url }});" data-stellar-background-ratio="0.6">
    <div class="container">
      <header class="main-header"><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <h1>{{ title }}</h1>
        <!--<span class="subtitle">{{ render_subtitulo }}</span>-->
        <div class="project-title-info">
          {% if render_project_info %}
            {{ render_project_info }}
          {% endif %}
        </div>
      </header>
    </div>

    <!-- Lines -->

    <!--<div class="page-lines">
      <div class="container">
        <div class="col-line col-xs-4">
          <div class="line"></div>
        </div>
        <div class="col-line col-xs-4">
          <div class="line"></div>
        </div>
        <div class="col-line col-xs-4">
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
    </div>-->
  </main>
  <div class="container">{{ page.content_full_bar }}</div>
  <div class="content">
    {{ page.content }}
    <div class="project-details">
        {{ render_componente }}
    </div>
    {{ page.section_bottom }}
    {% include theme_path_no_base ~ "/tpl/footer.html.twig" %}
  </div>
</div>