

  {% include theme_path_no_base ~ "/tpl/header.html.twig" %}

  <!-- Layout -->

  <div class="layout">
    
    {% if v_name == 'tags' %}
      <main class="main main-inner main-blog bg-blog"{% if blog_tags_background_image %} style="background-image: url({{ blog_tags_background_image }})"{% endif %} data-stellar-background-ratio="0.6">
        <div class="container">
          <header class="main-header">
            <h1>{{ title }}</h1>
          </header>
        </div>

        <!-- Lines -->

        <div class="page-lines">
          <div class="container">
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </main>
    {% elseif v_name == 'blog_categories' %}
      <main class="main main-inner main-blog bg-blog" data-stellar-background-ratio="0.6">
        <div class="container">
          <header class="main-header">
            <h1>{{ title }}</h1>
          </header>
        </div>

        <!-- Lines -->

        <div class="page-lines">
          <div class="container">
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </main>      
    {% else %}
      <main class="main main-inner main-blog bg-blog" data-stellar-background-ratio="0.6">
        <div class="container">
          <header class="main-header">
            <h1>{{ title }}</h1>
          </header>
        </div>

        <!-- Lines -->

        <div class="page-lines">
          <div class="container">
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </main>      
    {% endif %}
    <div class="content">   
    
      <!-- Blog List  -->

      <section class="blog-list section">
        <div class="container">
          {{ page.content_full_bar }}
          {{ page.content }}
          
        </div>
      </section>

      {{ page.section_content }}
      {{ page.section_bottom }}
      {% include theme_path_no_base ~ "/tpl/footer.html.twig" %}

    </div>
  </div>